!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

# Exlude logs and working directories
*.log
LEF/
SPC-2020/
Verilog/
armM0/
armM0_buggy_toomany3Dnets/
armM0_maxcut/
armM0_old/
ldpc-2020/
ldpc-2020_logless/
ldpc-2020_pinFixed/
msp430/
netlistsplitter-master/
partition_logless.pl
prt_exu/
prt_spc/